<!DOCTYPE html>
<html lang="en">

	<head>

		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.light_blue-blue.min.css" />
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
		
		<!-- Usado para Setup Icons Web --> 
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="styles.css">

	</head>
	<body>


		<!-- Linha 1 -->
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone"></div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
				<!-- Colored FAB button -->
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored button">
				  <i class="material-icons">keyboard_arrow_up</i>
				</button>	
			</div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone"></div>
		</div>

		<!-- Linha 2 -->
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
				<!-- Colored FAB button -->
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
		  			<i class="material-icons">rotate_left</i>
				</button>		
			</div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
				<!-- Colored FAB button -->
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
		  			<i class="material-icons">block</i>
				</button>		
			</div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
				<!-- Colored FAB button -->
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
		  			<i class="material-icons">rotate_right</i>
				</button>		
			</div>
		</div> 

		<!-- Linha 3 -->
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone"></div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
				<!-- Colored FAB button -->
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
		  			<i class="material-icons">keyboard_arrow_down</i>
				</button>		
			</div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone"></div>
		</div>

	</body>
</html>